<!doctype html>
<html>
  <head>
    <title>Better Code Reviews</title>
    <%= favicon_tag 'favicon.png' %>

    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Open Graph tags -->
    <meta property="og:title" content="Better Code Reviews" />
    <meta property="og:description" content="Most developers have heard that peer code reviews can do wonders to a codebase. What makes a good code review?" />
    <meta property="og:url" content="http://www.bettercode.reviews/" />
    <meta property="og:image" content="http://www.bettercode.reviews/images/preview_image.png" />
    
    <!-- Twitter meta tags -->    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@vaidehijoshi" />
    <meta name="twitter:title" content="Better Code Reviews" />
    <meta name="twitter:description" content="Most developers have heard that peer code reviews can do wonders to a codebase. What makes a good code review?" />
    <meta name="twitter:image" content="http://www.bettercode.reviews/images/favicon.png" />

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61898499-2', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Google Charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Programming language');
        data.addColumn('number', 'Response count');
        data.addRows([
          ['Java', 93],
          ['Ruby/Rails', 85],
          ['JavaScript', 103],
          ['PHP', 32],
          ['Python', 41],
          ['Swift', 14],
          ['Scala', 7],
          ['Perl', 10],
          ['SQL', 3],
          ['Objective-C', 4]
        ]);

        // Set chart options
        var options = {
                        'title':'What language does your team work in?',
                        'width': 380,
                        'height': 350,
                        'colors': [
                          '#fbc547',
                          '#fbca59',
                          '#fbd06b',
                          '#fcd67e',
                          '#fcdc90',
                          '#fde2a3',
                          '#fde7b5',
                          '#fdedc7',
                          '#fef3da',
                          '#fef9ec'
                        ]
                      };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('language_chart_div'));
        chart.draw(data, options);
      }
    </script>

    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <%= partial "footer" %>
</html>
