---
title: Better Code Reviews
---

<div class="container">
  <%= partial(:octicon, :locals => { :octicon_name => "code", :color => "#fbc547", height: 100 }) %>

  <h1 class="main-header">Better Code Reviews</h1>
  <p class="header-description">
    Most developers have heard that peer code reviews can do wonders to a codebase.<br><br>But not <i>all</i> types of code reviews are effective.<br><br>Some code reviews seem to go on and on forever, while others pick at syntax and formatting, but miss major bugs that somehow end up in production!</p>

  <p class="header-subtitle">
    <strong>So&mdash;what makes a good code review?</strong>
  </p>

  <p class="header-description">I asked some developers, and here's what I learned.</p>

  <div class="content-container">
    <div class="section">
      <h2 class="section-header">
        <%= partial(:octicon, :locals => { :octicon_name => "sync", :color => "#fbc547", :height => 22 }) %>
        
        Feedback
      </h2>

      <div>
        <div class="icon">
          <%= partial(:octicon, :locals => { :octicon_name => "quote", :color => "#fbc547", :height => 15 }) %>
        </div>

        <p class="quote">There have been times when the same code has been reviewed differently depending on who submits the PR.</p>

        <br>
        <p>Out of 507 total survey responses, 25 of them used the word <strong class="highlight">nitpick</strong>&mdash;in a negative context. That's 5% of all respondants who associated code reviews with the word <i>nitpick</i>.</p>

        <br>

        <p class="quote">There have been times when the same code has been reviewed differently depending on who submits the PR.</p>
      </div>

      <p class="quote">The git diff is too big to quickly understand.</p>

      <p class="quote">Commits are too big, so PR's take long to review. People don't check out the branch locally to test.</p>

      <p class="quote">There's some of trolling of code, and we avoid implementing a code of conduct.</p>

      <p class="quote">There is no real standardization of what is required in code review. Often, people will flip and publicly berate another developer without reading a developer's notes, case, or speaking with the developer.</p>

      <p class="quote">They can sometimes inspire pickiness over irrelevant details as a way of showing off the reviewer's skills.</p>

      <p class="quote">They can feel sterile or (at worst) mean-spirited, even when they're not. Raising concerns and questions about code over comments alone can be tough.</p>

      <p class="quote">It's just me and another person. I'm worried I don't get enough various view points on my PR's.</p>

     
      
    </div>
    

    <h2 class="section-header">
      <%= partial(:octicon, :locals => { :octicon_name => "hubot", :color => "#fbc547", :height => 22 }) %>
      
      Everyone
    </h2>

    <h2 class="section-header">
      <%= partial(:octicon, :locals => { :octicon_name => "comment-discussion", :color => "#fbc547", :height => 22 }) %>
      
      Comments
    </h2>

    <h2 class="section-header">
      <%= partial(:octicon, :locals => { :octicon_name => "law", :color => "#fbc547", :height => 22 }) %>

      Ego
    </h2>

    <h2 class="section-header">
      <%= partial(:octicon, :locals => { :octicon_name => "heart", :color => "#fbc547", :height => 22 }) %>

      Empathy
    </h2>

    <h2 class="main-header">
      <%= partial(:octicon, :locals => { :octicon_name => "alert", :color => "#fbc547", :height => 22 }) %>

      Disclamer
    </h2>

    <div id="language_chart_div" class="chart"></div>

    <hr/>

    <div>
      <h2 class="section-header">Contribute</h2>
      <p>Want to help out with this project? Awesome!</p><br>
      
      <p>If you only have a few minutes to contribute, you can help me out by adding to my dataset! Fill out the survey by clicking on the <strong class="highlight">add to survey</strong> button below.</p>
      <br>

      <p>If you have some more time to help, I'm always looking for data scientists and developers to help me analyze all this data!</p>
      <br>

      <p>You can get started by checking out the current dataset and clicking on the  <strong class="highlight">view results</strong> button below. Then head over to the <a href="https://github.com/vaidehijoshi/better-code-reviews">Github repo</a> and file an issue for what you'd like to work on&mdash;or pick up an issue that's already there!</p>
      <br>

      <p>Have something else in mind? Find me on <a href="https://www.twitter.com/vaidehijoshi">Twitter</a>, and let's chat more about how you can help.</p>
      <br>

      <%= partial(:typeform_buttons) %>
    </div>
  </div>
</div>
